
@font-face {
    font-family: 'hello_bunnydemo';
    src: url('hello_bunny_-webfont.woff2') format('woff2'),
         url('hello_bunny_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
    background-color: black;
}
h1 {
    font-family: 'hello_bunnydemo';
    font-size: 200px;
    color: white;
    font-weight: normal;
    font-style: normal;
    text-align: center;

}

.linea-1{
    border-top: 2px solid #F500BB;
    height: 2px;
    max-width: 500px;
    padding: 0;
    margin: 433px 100px -248px;    


}

.linea-2{
    border-top: 2px solid #05F1F5;
    height: 2px;
    max-width: 500px;
    padding: 0;
    margin-left: 68%;
    margin-right: 0%;
    margin-top: -12%;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 4s;
  }

  .corazon{
	margin-left: 50%; 

  }

  .animate__animated.animated__fadeIn.corazon{
      --animation-duration: 6s;
  }

/*
@media screen and (min-width:1200px){
    .linea-2{
        max-width: 100%;
    }
}
*/
@media screen and (max-width:600px){
    .linea-2{
        padding: 0;
    margin-left: 26%;
    margin-right: 0%;
    margin-top: -30%;
    margin-bottom: 10%;
    max-width: 163px;
    }
    .corazon {
        margin-left: 39%;
    }
    .linea-1{
        padding: 0;
        margin: 200px 100px -101px; 
    }
}       

@media screen and (min-width: 601px) and (max-width: 1400px){
    .linea-1{
        padding: 9px;
        margin: 223px 20px -19px; 
    }
    .linea-2{
        padding: 0;
        margin-left: 31%;
        margin-right: -2%;
        margin-top: 0%;
        margin-bottom: 17%;
        max-width: 500px;
    }
    .corazon{
        margin-left: 47%;
    }
}